.responsive-button {
  min-width: 120px;
  flex: 0 1 auto;
}

@media (max-width: 576px) {
  .responsive-button {
    min-width: 100px; /* Optional: make smaller on very small screens */
  }
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6); /* σκοτεινιάζει το βίντεο για καλύτερη ανάγνωση */
}


.text-fit {
  flex: 1 1 0;
  min-width: 0;
  background-color: black;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;

  /* Dynamically adjust font size between 12px and 16px */
  font-size: clamp(12px, 2vw, 16px);
}
