<div class="video-background">
  <video autoplay [muted]="true" loop playsinline>
    <source src="https://21video.s3.eu-north-1.amazonaws.com/21.mp4" type="video/mp4" />
    Το πρόγραμμα περιήγησής σας δεν υποστηρίζει την αναπαραγωγή βίντεο.
  </video>
</div>
<div class="d-flex flex-nowrap justify-content-center w-100" style="padding: 20px;">
  <button class="btn m-1 text-truncate flex-fill" style="flex: 1 1 0; min-width: 0; background-color: black; color: white;"
    *ngFor="let item of menuItems" (click)="onSelect(item)">
    {{ item.label }}
  </button>
</div>

<router-outlet></router-outlet>